name: Cleanup Neon Branches

on:
  pull_request:
    types: [closed]

jobs:
  delete-neon-branches:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - service: apollo
            project_id_var: NEON_PROJECT_ID_APOLLO
          - service: campaign
            project_id_var: NEON_PROJECT_ID_CAMPAIGN
          - service: client
            project_id_var: NEON_PROJECT_ID_CLIENT
          - service: keys
            project_id_var: NEON_PROJECT_ID_KEYS
          - service: emailgeneration
            project_id_var: NEON_PROJECT_ID_EMAILGENERATION
    steps:
      - name: Delete Neon branch for ${{ matrix.service }}
        uses: neondatabase/delete-branch-action@v3
        continue-on-error: true
        with:
          project_id: ${{ vars[matrix.project_id_var] }}
          branch: pr-${{ github.event.number }}-${{ matrix.service }}
          api_key: ${{ secrets.NEON_API_KEY }}
